body {
    font-family: sans-serif;
    font-size: 100%;
    width: 500px;
    margin: 0 auto;
    padding: 1em;

}
h1 {
    color: green;
    font-family: fantasy;
}
h2 {
    color: orangered;
    font-family: fantasy;
}
h3 {
    color: maroon;
    font-family: fantasy;
}